.header {
    background-image: url(../images/home/headerBackground.jpg);
}

.section-one {
    padding: 1em;
}

.tradition {
    padding: 3em;
    text-align: center;
}

.description-title {
    margin: 1em 0;
}

.description-text {
    margin-bottom: 1em;
}

.prouduct{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em 0;

    

}

.prouct-img img{
    border-radius: 50%;
    width: 80px;
}

.product-title{
    align-self: flex-start;
    width: 50%;
    font-size: .7rem;
    text-align: left;
}

.product-price {
    align-self: flex-start;
    color: var(--gold-yellow);
}

.section-two--photo{
    position: relative;
    overflow: hidden;
}

.section-two--photo img {
    transition: all .2s ease-in;
}

.section-two--details{
    display: none;
    position: absolute;
    z-index: 1;
    bottom: 20px;
    left: 20px;
}

.section-two--photo:hover .section-two--details{
    display: block;
}

.section-two--photo:hover img {
    transform: scale(1.3);
    
}

.section-three {
    padding: 1em;
}

.menu  {
    text-align: center;
}

.menu-description {
    color: var(--gold-yellow);
    position: relative;
    text-transform: uppercase;
}

.menu-description::after {
    content: '';
    position: absolute;

    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    border: 1.2px solid var(--gold-yellow);
    
}

.menu > h2{
    margin: 1rem 0;
    font-weight: 400;
}

.menu-button {
    text-align: center;
    margin: 1em 0 2em 0;
}

.section-four {
    background-image: url(../images/home/section-four.jpg);
    background-size: cover;
    backdrop-filter: invert(80%);
    text-align: center;
    padding: 3em 1em;
}


.section-four h2 {
    margin: 1.2em 0 1.7em 0;
    font-weight: 400;
    font-size: 2rem;
    text-transform: uppercase;
}

.section-five {
    background-color: #222F3D;
    
}

.five-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2em;
    text-transform: uppercase;
    text-align: center;
}

.s-five--title h1{
    font-weight: 400;
    font-size: 3rem;
    color: var(--gold-yellow);
}

.s-five--title p {
    font-size: .8rem;
}

.section-six {
    padding: 1rem;
}

.contact-us h1{
    margin: 1em 0 1.5em 0;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 2rem;
}

.contact-us p:last-child {
    letter-spacing: .5px;
    font-size: 1.2rem;
    font-weight: 300;
    color: #d0d7df;
}

.contact-form {
    margin: 2em 0;
}

.contact-form input {
    margin-bottom: 1em;
    width: 100%;
    padding: 1em;
    background: none;
    color: white;
    border: none;
    border-bottom: 1px solid #d0d7df;
}

.contact-form input::placeholder {
    color: #d0d7df;
}

.contact-form form{
    margin-bottom: 2em;
}