:root {
    --main-dark: #0e1721;
    --gold-yellow: #ffc999;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
}

body {
    font-family: 'Crimson Text', serif;;
    background-color: var(--main-dark);
    color: white;
    font-weight: 400;
}

p {
    font-family: "Manrope", serif;
}

img {
    max-width: 100%;
}

ul, li {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

i:before {
    font-weight: 900;
}

.gold-yellow {
    color: var(--gold-yellow);
}

.btn {
    background: none;
    padding: .7em 1.3em;
    border: 1px solid var(--gold-yellow);
    color: var(--gold-yellow);
    font-style: italic;
    transition: all .25s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    color: black;
    background-color: var(--gold-yellow);
}

.header {
    
    background-size: cover;
}

.nav {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.7)  ;
}

.menu-mobile i{
    font-size: 1.3rem;
    padding: .3rem;
    border: 1px solid white ;
}

.nav-list {
    display: none;
    font-family: 'Manrope', sans-serif ;
}

.fixed-nav {
    padding: .5em;
    font-size: 1.7rem;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: var(--main-dark);
    z-index: 2;
    
}

.nav-item:last-child {
    margin-top: 60px;
}

.fixed-nav > * {
    margin: .8em 0;
}

.headerContent {
    text-align: center;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headerContent > h1 {
    font-size: 2.3rem;
    margin: .3em 0 .6em 0;
    font-weight: 400;
    letter-spacing: 1.7px;
}

footer {
    font-family: 'Manrope', sans-serif;
    padding: 1em;
    color: #d0d7df;
}

.footer-col > *, .footer-content:last-child > * {
    margin: 1em 0;
    font-size: 1.2rem;
}

@media screen and (min-width: 960px){
    .container {
        max-width: 1100px;
        padding: 4rem;
        margin-inline: auto;
    }

    .nav-link {
        position: relative;
    }
    
    .nav-link::after{
        content: '';
        position: absolute;
        visibility: hidden;
        top: -2px;
        left: 0;
        height: 1px;
        width: 100%;
        border-top: 1px solid var(--gold-yellow);
        transition: all .2s ease;
    }
    
    .nav-item:hover .nav-link::after{
        visibility: visible;
        top: -7px;
    }
    

    .menu-mobile {
        display: none;
    }

    .nav {
        display: flex;
    }

    .nav-list {
        width: 50%;
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        font-size: .8rem;
        font-weight: 500;
    }

    .nav-item:first-child {
        display: none;
    }

    .footer-col > *, .footer-content:last-child > * {
        margin: 0;
        font-size: 1rem;
        padding: .5em 0;
    }

    .footer > .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer-content:last-child {
        text-align: right;
    }
    .nav-item:last-child {
        margin-top: 0;
    }
    

    .headerContent > h1 {
        font-size: 3.5rem;
    }
}

